__pycache__/
*.pyc
.env
.env.*
*.log
.vscode/
.idea/
Previous_Implementation/Dataset/
Previous_Implementation/Weights/
Previous_Implementation/Results/
Revised_Implementation/data
Revised_Implementation/results